# Keep the WebGL build output only.
*
!.gitignore
!.nojekyll
!README.md
!Build/
!Build/**
!TemplateData/
!TemplateData/**
!index.html
!*.js
!*.json
!*.css
!*.png
!*.jpg
!*.jpeg
!*.svg
!*.ico
!*.data
!*.wasm
!*.symbols.json
!StreamingAssets/
!StreamingAssets/**
